@import '../variables';

.forside_images.bigSlider{
    position: relative;

    figcaption{
        position: absolute;
        left: 50%;
        top: 25%;
        translate: -50%;
        color: $col_image_text;
        font-size: 5rem;
        text-align: center;
    }
}