@import '../variables';

#root.admin{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $col_background;
}

.header.admin{
    display: none;
}

.footer{
    display: block;
}

.footer.admin{
    display: none;
}

.notAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels{
    font-size: clamp(1.4rem, calc(1rem + 1vw), 2rem);
    display: block;
    margin-bottom: .5rem;
}

.select{
    display: block;
    width: 100%;
}


// *Aktiviteter
.adminActivities{
    padding-top: 5rem;

    h1{
        text-align: left;
        margin-bottom: 3rem;
    }
}