@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

$ghost-white: #FAFAFF;
$cultured: #EEF0F2;
$dutch-white: #DBD5B5;
$bright-yellow-crayola: #FCAB10;
$crimson: #D72638;
$caribbean-green: #06D6A0;
$cadet: #4f6d7a;
$grey: #707070;

$col_text: $grey;
$col_ruler: $grey;
$col_border: $grey;
$col_header: $dutch-white;
$col_nav_highlighted: $bright-yellow-crayola;
$col_nav_overlay: $cultured;
$col_topnav_border: $grey;
$col_success: $caribbean-green;
$col_error: $crimson;
$col_success: $caribbean-green;

$col_image_text: $ghost-white;

$col_image_text: $ghost-white;

$col_card_background: $cultured;

$col_text_highlighted: $ghost-white;
$col_background: $ghost-white;
$col_logout: $crimson;



$font_text: 'Barlow Condensed';