@import "variables";

//*Aktiviteter Container

.aktiviteter{
    padding-top: 5rem;
    background-color: $col_background;
}

.text {
    text-align: center;
}

.aktiviteter_image {
    position: relative;
    margin-top:  1.5rem;
    border-radius: 50%;

    .image_activity {
        border-radius: .4rem;
    }

    figcaption{
        position: absolute;
        width: 100%;
        bottom: 1%;
        left: 50%;
        translate: -50%;
        color: $col_image_text;
        font-size: 2.5rem;
        text-align: center;
    }
}

.kort-title {
    margin: 5rem;
}

#mapContainer {
    width: 100%;
    min-height: 400px;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;
    border-radius: .4rem;
}

//*Media query
@media only screen and (max-width: 991px) {


}