@import "variables";

.kontakt {
    padding-top: 5rem;
    margin-bottom: 5rem;
    background-color: $col_background;
}

.text {
    text-align: center;

}

.title {
    margin-inline: auto;
    width: fit-content;
    display: block;
}

.inputs,
.PhoneInput {
    display: block;
    width: 100%;
    min-height: 35px;
    margin: .5rem 3rem .5rem 0;
    background-color: $col_background;
    border: $col_topnav_border 1px solid;
    border-radius: .4rem;
    font-family: $font_text;
    font-size: 1.6rem;
    padding: 1rem;
    color: $col_text;

    &::placeholder {
        font-family: $font_text;
        font-size: 1.6rem;
        font-style: italic;
    }
}

.PhoneInputInput {
    width: 95%;
    height: 100%;
    background-color: $col_background;
    border: none;
    border-radius: .4rem;
    font-family: $font_text;
    font-size: 1.6rem;

    &::placeholder {
        font-family: $font_text;
        font-size: 1.6rem;
        padding: 1rem;
    }
}

.PhoneInputCountryIcon {
    margin-left: .5rem;
}

.message_input {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 115px;
    max-height: 400px;
    font-family: $font_text;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: $col_background;
    border: $col_topnav_border 1px solid;
    border-radius: .4rem;
}

.send_submit-input {
    display: block;
    width: 150px;
    height: 35px;
    background-color: $col_nav_highlighted;
    color: $col_nav_overlay;
    font-size: 1.5rem;
    border-radius: .4rem;
    border: $col_topnav_border 1px solid;
    margin-inline: auto;
    appearance: none;
    cursor: pointer;
    transition: scale 1s ease-in-out;
    margin-block: 2rem;

    &:hover {
        background-color: $caribbean-green;
        transform: scale(1.1);
    }
}

#mapContainer__kontakt {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: .4rem;
}

.formText {
    color: $col_error;
    font-size: clamp(1.4rem, calc(1rem + 1vw), 1.5rem);
    margin-bottom: 1.5rem;
    display: inline-block;
}

.submit_message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 50px;
    color: $col_background;
    font-size: clamp(1.4rem, calc(1rem + 1vw), 2rem);
    margin-inline: auto;
    text-align: center;
    border-radius: .4rem;

    &.success {
        background-color: $col_success;
    }

    &.failed {
        background-color: $col_error;
    }
}