@import "variables";

//*Navigation
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0  auto;
    transform: translateX(0);
    transition: transform 1s;
    background: $col_header;


    /* #region  On scroll */
    &.onScroll {
        transform: translateY(-36px);
    }
    /* #endregion */

    h1, h2 {
        text-transform: uppercase;
        color: $col_text;
        font-size: 2rem;
    }

    h2{
        text-align: center;
    }
}

.topnav {
    padding-block: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: $col_text;

    .info,
    .soMeAndLanguage {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;

        svg {
            font-size: 2rem;
            vertical-align: middle;
        }
    }

    .soMeAndLanguage {
        padding-right: 15px;
    }
}

.langSelect{
    background-color: transparent;
    border:none;
    color: $col_text;
}

.navbarSeperator {
    color: $col_text;
}

.navbar {
    padding-block: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar__menu {

    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 1rem;

    li {
        padding: 15px;

        a {
            cursor: pointer;
            text-decoration: none;
            color: $col_text;
            font-size: clamp(1.8rem, calc(1rem + 1vw), 2.5rem);

            &.active,
            &:hover,
            &:active {
                padding-bottom: 10px;
                border-bottom: 3px solid $col_text;
            }
        }

    }

    li:last-child{
        padding-right: 0;
    }

}

.btn_bookroom {
    width: 175px;
    height: 50px;
    width: calc(5.5rem + 6.5vw);
    height: calc(1.5rem + 2vw);
    background-color: $col_nav_highlighted;
    color: $col_text_highlighted;
    font-size: clamp(1.8rem, calc(1rem + 1vw), 2.5rem);
    border:none;
    cursor: pointer;
    transition: scale 1s ease-in-out;
    font-family: $font_text;
    border-radius: .4rem;

    &:hover {
        background-color: $caribbean-green;
        transform: scale(1.1);
    }

}

.soMeAndLanguage, .soMe{
    a{
        color: $col_text;
        text-decoration: none;
    }
}

.soMe {
    display: none;

    svg {
        font-size: 2rem;
        vertical-align: middle;
    }

}

.hamburger {
    background-color: $col_nav_highlighted;
    color: $col_text_highlighted;
    display: none;
    padding: 1rem;
    border-radius: .4rem;
    border: 2px solid $col_text;

    svg {
        font-size: 3.5rem;
    }
}

.small_heading{
    display: none;
}

//*Media query
@media only screen and (max-width: 991px) {

    .hamburger, .small_heading {
        display: block;
    }

    .small_heading{
        text-align: center;
        span{
            display: block;
        }
    }

    .soMe {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    .soMeAndLanguage .svg-inline--fa, .big_heading,.topnav .info {
        display: none;
    }

    .navbar{
        justify-content: space-between;
    }

    .navbar__menu {
        position: fixed;
        left: 100%;
        top: 191px;
        flex-direction: column;
        background-color: $col_nav_overlay;
        width: 100%;
        height: 90vh;
        z-index: 999;
        align-items: center;
        transition: .3s;
        justify-content: center;
        margin-left: 0;

        
        li:nth-child(1){
            order: 1;
        }

        li:nth-child(2){
            order:3;
        }

        li:nth-child(3){
            order:4;
        } 

        li:nth-child(4){
            order: 5;
        }

        li:nth-child(5){
            order: 6;
        }

        li:nth-child(6){
            order: 7;

        }
        li:nth-child(7){
            order: 8;

            a:hover {
                border: none;
                padding-bottom: 0;

            }
        }

        li:nth-child(8){
            order: 1;
        }  
    }

    .navbar__menu.active {
        left: 0;
    }
}