@import "variables";


.NewsContainer {
    width: 100%;
    height: auto;
    background-color: $ghost-white;
}

.News_Headline{
    color: $col_text;
    font-family: $font_text;
    font-size: 6rem;
}

// Search section

.Userinterface {
    width: 80%;
    height: auto;
    padding: 2rem;
}

.NewsRow{
    margin: 0;
}

.UIForm div{
    display: inline-block;
    font-size: 3rem;
    margin-left: 200px;
    text-align: center;
}

.SeachInp, .CategoryInp{
    padding: 10px;
    border: solid 1px $cadet;
    font-family: $font_text;
    background-color: $cultured;
    border-radius: .2rem;
}

.ArchiveBtn{
    margin-top: .4rem;
    color: $ghost-white;
    background-color: $bright-yellow-crayola;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    font-family: $font_text;
    color: $col_image_text;
    font-size: 2rem;

    &:hover {
        background-color: $caribbean-green;
        transform: scale(1.1);
        cursor: pointer;
    } 
}



// Highlighted article

.HighlightedNews {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 3rem auto;


    .HL_ArticleHeader {
        color: $col_text;
        font-size: 5rem;

    }

    .HL_Date {
        color: $col_text;
        font-size: 2rem;
    }

    .HL_Body_Text{
        color: $col_text;
        font-size: 2rem;
    }

    .HL_Image {
        width: 500px;
        height: 300px;
        background-color: $cadet;
    }

    .HL_Btn{
        color: $ghost-white;
        background-color: $bright-yellow-crayola;
        padding: 1rem;
        border-radius: 4px;
        border: none;
        font-family: $font_text;
        color: $col_image_text;
        font-size: 2rem;
        margin-left: 270px;
        margin-bottom: 10px;
        

        &:hover {
            background-color: $caribbean-green;
            transform: scale(1.1);
            cursor: pointer;
        }  
    }

}

// 3 News beside each other

.RegularNews {
    width: 80%;
    height: auto;
    justify-content: center;
    margin-bottom: 3rem;
}


.CARD {
    background-color: $col_card_background;
    border: 2px solid $grey;

    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: .4rem;
    padding: 1rem;


    .CARD_Img {
        width: 100%;
        height: 200px;
        background-color: aqua;
    }

    .CARD_Headline {
        color: $col_text;
        font-family: $font_text;
        font-size: 3rem;
        text-align: center;
    }

    .CARD_Date{
        color: $col_text;
        font-family: $font_text;
        font-size: 1.9rem;
    }

    .CARD_Text{
        color: $col_text;
        font-family: $font_text;
        font-size: 2rem;
        height: auto; 
    }

    .CARD_Btn {
        color: $ghost-white;
        background-color: $bright-yellow-crayola;
        padding: 1rem;
        border-radius: 4px;
        border: none;
        font-family: $font_text;
        color: $col_image_text;
        font-size: 2rem;
        margin-left: 270px;
        margin-bottom: 10px;
        

        &:hover {
            background-color: $caribbean-green;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}