@import "variables";


.NewsContainer {
    width: 100%;
    height: auto;
    background-color: $ghost-white;
}

.News_Headline {
    color: $col_text;
    font-family: $font_text;
    font-size: 6rem;
}

// Search section

.Userinterface {
    width: 80%;
    height: auto;
    padding: 2rem;
}

.NewsRow {
    margin: 0;
}

.UIForm div {
    display: inline-block;
    font-size: 3rem;
    margin-left: 200px;
    text-align: center;
}

.SeachInp,
.CategoryInp {
    padding: 10px;
    border: solid 1px $cadet;
    font-family: $font_text;
    background-color: $cultured;
    border-radius: .2rem;
}

.SearchIcon {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.ArchiveBtn {
    margin-top: .4rem;
    color: $ghost-white;
    background-color: $bright-yellow-crayola;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    font-family: $font_text;
    color: $col_image_text;
    font-size: 2rem;

    &:hover {
        background-color: $caribbean-green;
        transform: scale(1.1);
        cursor: pointer;
    }
}



// Highlighted article

.HighlightedNews {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 3rem auto;


    .HL_ArticleHeader {
        color: $col_text;
        font-size: 5rem;

    }

    .HL_Date {
        color: $col_text;
        font-size: 2rem;
    }

    .HL_Body_Text {
        color: $col_text;
        font-size: 2rem;
    }

    .HL_Image {
        min-width: 600px;
        height: 700px;
        border-radius: .2rem;
    }

    .HL_Btn {
        color: $ghost-white;
        background-color: $bright-yellow-crayola;
        padding: 1rem;
        border-radius: 4px;
        border: none;
        font-family: $font_text;
        color: $col_image_text;
        font-size: 2rem;
        margin-left: 470px;
        margin-bottom: 10px;


        &:hover {
            background-color: $caribbean-green;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

}

// 3 News beside each other

.RegularNews {
    width: 80%;
    height: auto;
    justify-content: center;
    margin-bottom: 3rem;
}


.CARD {
    background-color: $col_card_background;
    border: 2px solid $grey;

    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: .4rem;
    padding: 1rem;
}

.CARD_Img {
    width: 100%;
    height: 300px;
    border-radius: .2rem;
}

.CARD_Headline {
    color: $col_text;
    font-family: $font_text;
    font-size: 3rem;
    text-align: center;
}

.CARD_Date {
    color: $col_text;
    font-family: $font_text;
    font-size: 1.9rem;
}

.CARD_Text {
    color: $col_text;
    font-family: $font_text;
    font-size: 2rem;
    height: auto;
}

.CARD_Btn {
    color: $ghost-white;
    background-color: $bright-yellow-crayola;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    font-family: $font_text;
    color: $col_image_text;
    font-size: 2rem;
    margin-left: 270px;
    margin-bottom: 10px;


    &:hover {
        background-color: $caribbean-green;
        transform: scale(1.1);
        cursor: pointer;
    }
}




@media only screen and (max-width: 399px) {

    .Userinterface {
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .UIForm {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        text-align: center;
    }

    .UIForm div {
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }

    .HighlightedNews .HL_Image {
        max-width: 398px;
        height: auto;
        justify-content: center;
    }

    .HighlightedNews {
        display: block;
        width: 100%;
        text-align: center;
    }

    .HL_Image {
        max-width: 398px;
        height: auto;
        margin: 0;
    }



    .CARD_Btn {
        margin-left: 180px;

    }


}