@import 'variables';

.services{
    background-color: $col_background;
    padding-top: 5rem;
}

.servicesRow {
    :nth-child(odd){
        .services__card{
            margin-left: 1rem;
            margin-right: auto;
        }
    }
    :nth-child(even){
        .services__card{
            margin-right: 1rem;
            margin-left: auto;
        }
    }
}

.services__card{
    background-color: $col_card_background;
    border: 2px solid $grey;

    max-width: 450px;
    margin-block: 1.75rem;
    border-radius: .4rem;

    img{
        border-radius: .4rem .4rem 0 0;
    }    
}

.card__body{
    padding-inline: .5rem;
    background-color: $col_background;
}
.card__title{
    text-align: center;
    font-size: clamp(1.6rem, calc(1rem + 1vw), 2.5rem);
}
.card__description{
    padding: 1rem;
    font-size: clamp(1.2rem, calc(.8rem + .8vw), 1.8rem);
    white-space: pre-line;
}



.resturant{
    margin-top: 5rem;
}